.home-container {
  
}

.home-container h1 {
  text-align: center;
  color: white;
}

.home-container h2 {
  text-align: center;
  color: white;
}


.home-container p {
  font-family: monospace;
  color: white;
  text-align: center;
  font-size: 16px;

}

.home-container .contact_info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 22px;
  font-family: monospace;
}

.home-container img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
