/* GameOfLife.css */
.game-container {
    height: 90vh;
    padding : 20px;

}

.game-grid {
    border: 5px solid #007bff;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    display: inline-block; 
}

canvas {
    display: block; 
}